<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reward_category.name %>
</p>

<%= link_to 'Edit', edit_reward_category_path(@reward_category) %> |
<%= link_to 'Back', reward_categories_path %>
